@charset "UTF-8";
/* layout general
 -----------------------------------------------------*/
/* general setting
 -----------------------------------------------------*/
* {
  outline: transparent;
}


body {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Baloo 2", sans-serif;
  font-size: calc(4px + 1vw);
  color: #333;
  line-height: 1.5;
  background: #FFF;
}


a {
  color: #0bb4b7;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
a:hover {
  text-decoration: none;
  color: #0bb4b7;
}
a:focus {
  outline: none;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  font-family: "Paytone One", sans-serif;
      text-shadow: 0px 0px 10px #FFF;
}

p {
  margin-bottom: 10px;
}
p:last-child {
  margin-bottom: 0px;
}

input[type=submit] {
  border: none;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media (min-width: 1600px){
  .container{
    max-width: 1400px !important;
  }
}
@media (min-width: 2000px){
  .container{
    max-width: 1800px !important;
  }
}


@media screen and (max-width: 767px){
    
    body{
        font-size: calc(10px + 1vw);
    }
}


.page-header{
  position: relative;
}

.page-header .main-menu{
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
  z-index: 2;
  display: table;
  width: 60%;
}
.page-header .main-menu li{
  display: table-cell;
  width: 25%;
  text-align: center;
  position: relative;
}
.page-header .main-menu li a{
  color: #76c04d;
  font-size: calc(8px + 1vw);
  font-weight: 500;
}

.page-header .main-menu li .sub-menu{
  position: absolute;
  left: 0%;
  top: 100%;
  width: 100%;
  background: #FFF;
  padding: 10px 20px;
  border-radius: 10px;
  display: none;
}
.page-header .main-menu li:hover .sub-menu{
  display: block;
}
.page-header .main-menu li .sub-menu li{
  text-align: left;
  display: block;
  width: 100%;
  
  margin-bottom: 10px;
}
.page-header .main-menu li .sub-menu li a{
  font-size: calc(6px + 1vw);
}
.page-header .main-menu li.md-popup{
  text-align: right;
}
.page-header .main-menu li.md-popup a img{
  width: 80%;
}
.page-header .main-menu li img{
  width: 100%;
}
.scroll-top{
  position: fixed !important;
  top: 0px !important;
  z-index: 5;
  transition-duration: 0.3s;
  border-bottom: 1.5px solid #a6a6a64a;
  background: #FFF;
  width: 100% !important;
  padding: 10px 20%;
}
.md-popup-2{
  padding: 0px;
  width: 65%;
  position: relative;
  display: none;
}
.md-popup-2 .bg-popup-2{
  width: 100%;
}
.md-popup-2 .ico-button-2{
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 25%;
}
.main-popup{
  display: none;
  background: url(../images/bg-popup.jpg) no-repeat;
  background-size: 100% 100%;
  width: 65%;
  padding: 0px;
  padding: 20px 0px 40px;
}
.main-popup h6{
  text-align: center;
  font-size: calc(20px + 3vw);
  color: #fd6718;
}
.main-popup h6 span{
  font-size: calc(40px + 6vw);
}
.main-popup form{
  padding: 0px 20%;
}
.main-popup form p.error{
  color: #fe6718;
  font-style: italic;
  margin-top: 3px;
  font-size: calc(2px + 1vw);
}
.main-popup form .md-row{
  margin-bottom: 10px;
}
.main-popup form input{
  width: 100%;
  border: 2px solid #76c04d;
  border-radius: 10px;
  padding: 15px 20px;
}
.main-popup form input[type='button']{
  width: 33%;
  display: table;
  margin: 20px auto 0 auto;
  background: url(../images/ico-button.png) no-repeat;
  background-size: 100% auto;
  border: none;
}
.main-popup form .ui.dropdown{
  background: #FFF;
   width: 100%;
  border: 2px solid #76c04d;
  border-radius: 10px;
  padding: 12px 20px;
}
.main-popup .ui.dropdown>.dropdown.icon{
  position: absolute;
  left: auto;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.main-popup .ui.dropdown .menu{
  width: 100%;
}
.page-main{
  background: url(../images/bg-pagemain.jpg) no-repeat;
  background-size: 100% 100%;
}
.page-main .section-1 img{
  width: 100%;
}
.page-main .section-1 .md-top-sc1{
  position: relative;
}
.page-main .section-1 .md-top-sc1 .text-sc1{
  position: absolute;
  left: 30%;
  top: 42%;
/*  transform: translateX(-50%);*/
  width: 42%;
  /*animation: text-sc1 3s;*/
}
/*@keyframes text-sc1{
  0%{
    opacity: 0;
    transform: scale(0.2);
  }
  10%{
    opacity: 1;
    transform: scale(1.1);
  }
  20%{
    opacity: 1;
  }
  30%{
    opacity: 0;
  }
  40%{
    opacity: 1;
  }
}*/
.page-main .section-1 .img-sc2{
  width: 60%;
  display: table;
  margin: 0 auto;
}
.page-main .section-1 .main-section-1 img{
  width: 100%;
}
.page-main .section-1{
  margin-bottom: 20px;
}
.color-gr{
  color: #6FB71D;
}
.color-rd{
  color: #FF4C00;
}
.banner{
  position: relative;
}
.banner .owl-dots{
  position: absolute;
  right: 3%;
  bottom: 1%;
}
.owl-dots .owl-dot:focus{
  outline: none !important;
}
.owl-dots .owl-dot.active span{
  background: #ec7135 !important;
}
.owl-dots .owl-dot:hover span{
  background: #ec7135 !important;
}
.owl-dots .owl-dot span{
  margin: 0px 3px !important;
}
.page-main .section-2{
  width: 90%;
  display: table;
  margin: 0 auto;
  border-radius: 20px;
}
.page-main .section-2 p{
  text-align: justify;
}
.page-main .section-2 span{
  color: #FF4C00;
  font-weight: 600;
}
.page-main .section-2 .md-left{
  float: left;
  width: 45%;
  margin-top: 30px;
}
.page-main .section-2 .md-right{
  float: right;
  width: 55%;
}
.page-main .section-2 .md-right img{
  margin-bottom: 50px;
}
.page-main .section-2 .md-right .md-text{
  position: relative;
  margin-left: 20%;
}
.page-main .section-2 .md-right .md-text:before{
  content: "";
  background: url(../images/ico-before.png) no-repeat;
  background-size: 100% 100%;
  display: block;
  width: 26px;
  height: 21px;
  position: absolute;
  left: -26px;
  top: -10px;
}
.page-main .section-2 .md-right .md-text a{
  position: relative;
  color: #fe6718;
  font-weight: 700;
}
.page-main .section-2 .md-right .md-text a:after{
  content: "";
  background: url(../images/ico-after.png) no-repeat;
  background-size: 100% 100%;
  display: block;
  width: 26px;
  height: 21px;
  position: absolute;
  right: -26px;
  bottom: 10px;
}
.page-main .section-2 img{
  width: 100%;
}
.page-main .section-2{
  margin-bottom: 40px;
}
.section-3{
  margin-bottom: 40px;
}
.section-3 .card{
  float: left;
  width: 31%;
  margin-right: 3%;
  display: block;
  background: transparent;
  border: none;
  padding: 0px;
}
.section-3 .card button:focus{
  box-shadow: none;
}
.section-3 .card-header{
  background: transparent;
  border: none;
  padding: 0px;
}
.section-3 .card-header button{
  padding: 0px;
}
.section-3 .card img{
  width: 100%;
}
.section-3 .card-body{
  padding: 0px;
}
.section-3 .card .md-button-3{
  width: 60%;
  display: table;
  margin: 10px auto 0 auto;
}
.section-3 .md-card-2{
  margin-right: 0%;
}
.section-3 ul li img{
  width: 100%;
}
.section-3 ul.nav{
  margin-bottom: 40px;
}
.section-3 .card-body .main-content{
  background: #FFF;
  padding: 40px 50px 40px;
  border: 2px solid #76c04d;
  border-radius: 20px;
}
.section-3 .card-body .img-nav-tab{
  width: 31%;
  margin-bottom: 10px;
}
.section-3 #collapseTwo .img-nav-tab{
  margin-left: 34%;
}
.section-3 #collapseThree .img-nav-tab{
  margin-left: 68%;
}
.section-3 .main-content .md-tkb{
  width: 100%;
  margin-top: 50px;
}
.section-3 .main-content .md-row{
  margin-bottom: 10px;
}
.section-3 .main-content .md-row img{
  width: 3%;
  float: left;
}
.section-3 .main-content .md-text{
  width: 95%;
  float: right;
  margin-top: 10px;
}
.section-3 .main-content .md-text h6{
  color: #FF4C00;
  font-weight: 700;
  font-size: calc(6px + 1vw);
  margin-bottom: 0px;
}
.section-4{
  margin-bottom: 40px;
}
.section-4 img{
  width: 100%;
}
.section-4 .row img{
  margin-bottom: 10px;
}
.section-7 h6{
  text-align: center;
  font-size: calc(10px + 1vw);
  color: #FF4C00;
  font-weight: 700;
  font-family: "Paytone One", sans-serif;
  margin-bottom: 10px;
}
.section-8 h6{
  text-align: center;
  font-size: calc(10px + 1vw);
  color: #FF4C00;
  font-weight: 700;
  font-family: "Paytone One", sans-serif;
  margin-bottom: 10px;
}
.section-5 img{
  width: 100%;
}
.section-5 video{
  width: 100%;
  height: auto;
}
.section-5 .md-row{
  margin-bottom: 20px;
}
.page-main{
  padding-bottom: 15%;
}
.footer{
  margin-top: -15%;
}
.footer .bg-bottom{
  width: 100%;
}
.footer .top-footer{
  position: relative;
}
.footer .top-footer .md-row{
  position: absolute;
  top: 45%;
  left: 10%;
  width: 80%;
}
.footer .top-footer .md-row .md-left .md-col{
  margin-bottom: 20px;
}
.footer .top-footer .md-row .md-left img{
  width: 4%;
  float: left;
}
.footer .top-footer .md-row .md-left .md-text{
  width: 95%;
  float: right;
}
.footer .top-footer .md-row .md-left .md-text h6{
  color: #FF4C00;
    font-weight: 700;
    font-size: calc(6px + 1vw);
    margin-bottom: 0px;
}
.footer .top-footer .md-row .md-left .md-text p{
  color: #a00606;
  font-weight: 700;
}
.footer .top-footer .ico-phone{
  position: absolute;
  width: 20%;
  bottom: 10%;
  right: 20%;
}
.footer .top-footer .md-row .md-left{
  float: left;
  width: 60%;
}
.footer .top-footer .md-row .md-right{
  float: right;
  width: 38%;
}
.footer .top-footer .md-row .md-right ul{
  display: table;
}
.footer .top-footer .md-row .md-right ul li{
  display: table-cell;
}
.footer .top-footer .md-row .md-right ul li a img{
  width: 50%;
}
.footer .top-footer .md-row .md-right .md-col-2 img{
  width: 7.8%;
  margin-right: 10px;
}
.footer .top-footer .md-row .md-right .md-col-2 span{
  color: #a00606;
  font-weight: 700;
}
.main-popup-tkb{
  display: none;
  padding: 0px;
}
.footer .top-footer .md-row .md-right .md-col{
  margin-bottom: 30px;
}
.footer .md-time{

}
.footer .md-time img{
  float: left;
  width: 7.8%;
}
.footer .md-time .md-text{
  float: right;
  width: 90%;
}
.footer .md-time .md-text p{
  color: #a00606;
  margin-bottom: 5px;
  font-weight: 700;
}
.footer .md-time .md-text span{
  display: block;
  color: #a00606;
}
.md-fixed{
  position: fixed;
  right: 3%;
  bottom: 3%;
  width: 10%;
  z-index: 999;
}
.md-fixed a{
  float: left;
  width: 40%;
  animation: md-fixeda infinite 4s;
}
@keyframes md-fixeda{
  0%{
    opacity: 1;
  }
  5%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  15%{
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
  25%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}
.md-fixed a:first-child{
  margin-right: 20%;

}
.md-fixed a:last-child{
  animation-delay: 1s;
}
.md-fixed img{
  width: 100%;
}
.md-desktop{
    display: block;
}
.md-mobile{
    display: none;
}
@media screen and (max-width: 767px){
  .md-desktop{
      display: none !important;
  }
  .md-mobile{
      display: block;
  }
  .md-popup-2{
    width: 100%;
  }
  .main-popup{
    width: 100%;
    height: auto;
  }
  .page-header .main-menu{
    display: block;
    width: 100%;
    padding: 0px 10%;
    top: 10px;
  }
  .page-header .main-menu li{
    display: inline-block;
    float: left;
    width: 40%;
  }
  .page-header .main-menu .toggle-menu{
    float: right;
    cursor: pointer;
  }
  .page-header .main-menu .toggle-menu img{
    width: 60%;
    float: right;
  }
  .page-header .main-menu .toggle-menu .menu-mb{
    position: fixed;
    left: -100%;
    top: 100%;
    background-color:rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100vh;
    padding-top: 10%;
    z-index: 99;
  }
  .active{
      left: 0% !important;
    transition-duration: 0.5s;

  }
  .page-header .main-menu .toggle-menu .menu-mb li{
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    padding-right: 10%;
    margin-bottom: 20px;
  }
  .page-header .main-menu .toggle-menu .menu-mb li a{
    font-size: calc(10px + 2vw);
  }
  .page-main .section-2 .md-left{
    float: none;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 20px;
  }
  .page-main .section-2 .md-right{
    float: none;
    width: 100%;
  }
  .page-main .section-2 .md-right .md-text{
    margin-left: 0%;
  }
  .page-main .section-2 img{
    margin-bottom: 15px;
  }
  .page-main .section-2 .md-right img{
    margin-bottom: 15px;
  }
  .section-5 img{
    margin-bottom: 10px;
  }
  .section-3 .tab-content .md-text h6{
    font-size: calc(8px + 2vw);
  }
  .section-7 h6{
    font-size: calc(12px + 2vw);
  }
  .section-8 h6{
    font-size: calc(12px + 2vw);
  }
  .section-3 .tab-content .md-row img{
    width: 5%;
  }
  .section-3 .tab-content .md-text{
    width: 93%;
    margin-top: 0px;
  }
  .page-main .section-1 .img-sc2{
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .section-3 .tab-content .md-tkb{
    width: 50%;
    display: table;
    margin: 50px auto 0 auto;
  }
  
  .main-popup-tkb img{
    width: 100%;
  }
  .main-popup form p.error{
    font-size: calc(8px + 1vw);
  }
  .bot-footer .md-wb{
    margin-bottom: 20px;
  }
  .bot-footer .md-wb img{
    float: left;
    width: 7%;
  }
  .bot-footer .md-wb span{
    float: right;
    width: 91%;
    color: #76c04d;
  }
  .bot-footer .md-time{
    padding-left: 0px;
  }
  .bot-footer ul li{
    padding-left: 0px;
  }
  .bot-footer .md-time img{
    float: left;
    width: 7%;
  }
  .bot-footer .md-time .md-text{
    float: right;
    width: 91%;
  }
  .scroll-top{
    padding: 10px 10% !important;
  }
  .main-popup form input[type='button']{
    width: 50%;
  }
  .page-header .main-menu li .sub-menu{
    padding-right: 10%;
    background: none;
  }
  .page-header .main-menu .toggle-menu .menu-mb li .sub-menu li{
    padding-right: 0px;
  }
  .page-main .section-1 .md-top-sc1 .text-sc1{
    left: 28%;
    width: 43%;
    z-index: 3;
  }
  .footer .top-footer .md-row .md-left{
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
  .footer .top-footer .md-row .md-right{
    float: none;
    width: 100%;
  }
  .footer .top-footer .md-row{
    top: 25%;
    left: 5%;
    width: 90%;
  }
  .footer .top-footer .md-row .md-left .md-col{
    margin-bottom: 5px;
  }
  .footer .top-footer .md-row .md-right .md-col{
    margin-bottom: 10px;
  }
  .footer .top-footer .md-row .md-left .md-text h6{
    font-size: calc(10px + 1vw);
  }
  .footer .top-footer .md-row .md-left .md-text p{
    font-size: calc(8px + 1vw);
  }
  .footer .top-footer .md-row .md-left img{
    width: 6%;
  }
  .footer .top-footer .md-row .md-left .md-text{
    width: 92%;
  }
  .section-3 .main-content .md-text h6{
    font-size: calc(10px + 1vw);
  }
  .section-3 .main-content .md-row img{
    width: 6%;
  }
  .section-3 .main-content .md-text{
    width: 92%;
    margin-top: 0px;
  }
  .section-3 .card-body .main-content{
    padding: 30px 20px;
  }
  .section-3 .main-content .md-tkb{
    width: 60%;
    display: table;
    margin: 30px auto 0 auto;
  }
  .section-1 .md-top-sc1 .img-sc1-mb-child{
        position: absolute;
    left: 52%;
    top: 25%;
    transform: translateX(-50%);
    width: 29%;
    z-index: 1;
  }
  .section-1 .md-top-sc1 .md-popup-fc .md-col-1{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 50%;
    height: 40%;
  }
  .section-1 .md-top-sc1 .md-popup-fc .md-col-2{
    position: absolute;
    right: 0%;
    top: 0%;
    width: 49%;
    height: 40%;
  }
  .section-1 .md-top-sc1 .md-popup-fc .md-col-3{
    position: absolute;
    left: 0%;
    bottom: 13%;
    width: 42%;
    height: 60%;
    z-index: 2;
  }
  .section-1 .md-top-sc1 .md-popup-fc .md-col-4{
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 40%;
    height: 70%;
    z-index: 2;
  }
  .section-1 .md-top-sc1 .md-popup-fc .md-col-5{
    position: absolute;
    left: 51%;
    transform: translateX(-50%);
    bottom: 0%;
    width: 28%;
    height: 21%;
    z-index: 1;
  }
  .section-1 .md-top-sc1 .md-popup-fc .fc-op{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
  }
  .section-1 .md-top-sc1 .md-popup-fc img{
    visibility: hidden;
  }
  .active-1{
    visibility: visible !important;
    transition-duration: 0.5s;
  }
  .md-fixed{
    width: 25%;
  }
  .footer .top-footer .ico-phone{
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    width: 30%;
  }
}

/*font-family: "Paytone One", sans-serif;
font-family: "Alata", sans-serif;
 font-family: "Baloo 2", sans-serif;*/