@charset "UTF-8";
/* layout general
 -----------------------------------------------------*/
/* general setting
 -----------------------------------------------------*/
* {
  outline: transparent;
}


body {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Baloo 2", sans-serif;
  font-size: calc(4px + 1vw);
  color: #333;
  line-height: 1.5;
  background: #FFF;
}


a {
  color: #0bb4b7;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
a:hover {
  text-decoration: none;
  color: #0bb4b7;
}
a:focus {
  outline: none;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
   font-family: "Baloo 2", sans-serif;
   font-weight: 700;
}

p {
  margin-bottom: 10px;
}
p:last-child {
  margin-bottom: 0px;
}

@font-face {
  font-family: 'SVN-Avo';
  src: url(../fonts/SVN-Avo/SVN-Avo.woff2) format("woff2"),
   url(../fonts/SVN-Avo/SVN-Avo.eot) format("eot"),
    url(../fonts/SVN-Avo/SVN-Avo.ttf) format("ttf"),
     url(../fonts/SVN-Avo/SVN-Avo.woff) format("woff"); }

@font-face {
  font-family: 'UTMAvoBold';
  src: url(../fonts/UTMAvoBold/UTMAvoBold.woff2) format("woff2"),
   url(../fonts/UTMAvoBold/UTMAvoBold.eot) format("eot"),
    url(../fonts/UTMAvoBold/UTMAvoBold.ttf) format("ttf"),
     url(../fonts/UTMAvoBold/UTMAvoBold.woff) format("woff"); }

input[type=submit] {
  border: none;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media (min-width: 1600px){
  .container{
    max-width: 1400px !important;
  }
}
@media (min-width: 2000px){
  .container{
    max-width: 2000px !important;
  }
}


@media screen and (max-width: 767px){
    
    body{
        font-size: calc(10px + 1vw);
    }
}


.page-header{
  position: relative;
}

.page-header .main-menu{
  margin: 20px auto;
  padding: 0px 5%;
}
.page-header .main-menu li.logo{
  width: 20%;
}
.page-header .main-menu li.pd-top{
  padding-top: 15px;
}
.page-header .main-menu li{
  float: left;
  margin-right: 40px;
  position: relative;
}
.page-header .main-menu li a{
  color: #404041;
  font-size: calc(6px + 1vw);
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.page-header .main-menu li .sub-menu{
  position: absolute;
  left: 0%;
  top: 100%;
  width: 100%;
  background: #FFF;
  padding: 10px 20px;
  border-radius: 10px;
  display: none;
  z-index: 5;
}
.page-header .main-menu li:hover .sub-menu{
  display: block;
}
.page-header .main-menu li .sub-menu li{
  text-align: left;
  display: block;
  width: 100%;
  border-bottom: 1px solid #FD6718;
  margin-bottom: 20px;
  margin-right: 0px;
}
.page-header .main-menu li .sub-menu li a{
  font-size: calc(2px + 1vw);

}
.page-header .main-menu li.md-popup{
  width: 15%;
  margin-right: 0px;
  padding-top: 5px;
}
.page-header .main-menu li.md-popup a img{
  width: 100%;
  animation: scale-popup 1.5s infinite;
}
@keyframes scale-popup{
  0%{
        transform: scale(0.8);
  }
  50%{
        transform: scale(1);
  }
  100%{
        transform: scale(0.8);
  }
}
.page-header .main-menu li img{
  width: 100%;
}
.scroll-top{
  position: fixed !important;
  top: 0px !important;
  z-index: 5;
  transition-duration: 0.3s;
  border-bottom: 1.5px solid #a6a6a64a;
  background: #FFF;
  width: 90% !important;
  padding: 10px 8% !important;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px 0px !important;
  border-radius: 10px;
}

.page-main .section-1 img{
  width: 100%;
}
.page-main .section-1 .md-top-sc1{
  position: relative;
}
.page-main .section-1 .md-top-sc1 .text-sc1{
  position: absolute;
  left: 30%;
  top: 42%;
/*  transform: translateX(-50%);*/
  width: 42%;
  /*animation: text-sc1 3s;*/
}
/*@keyframes text-sc1{
  0%{
    opacity: 0;
    transform: scale(0.2);
  }
  10%{
    opacity: 1;
    transform: scale(1.1);
  }
  20%{
    opacity: 1;
  }
  30%{
    opacity: 0;
  }
  40%{
    opacity: 1;
  }
}*/
.page-main .section-1 .img-sc2{
  width: 60%;
  display: table;
  margin: 0 auto;
}
.page-main .section-1 .main-section-1 img{
  width: 100%;
}
.page-main .section-1{
  margin-bottom: 20px;
}
.color-gr{
  color: #6FB71D;
}
.color-rd{
  color: #FF4C00;
}
.banner{
  position: relative;
}
.banner .text-banner{
  width: 70%;
  display: table;
  margin: 0 auto 20px auto;
}
.banner iframe{
  width: 60%;
  height: 450px;
  margin: 30px auto;
  display: table;
}
.banner .item{
  position: relative;
}
.banner .ico-button-4{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 8%;
  z-index: 4;
}
.ico-button-4{
  padding: 10px 20px;
  font-size: calc(10px + 1vw);
  background: url(../images/ico-button.png) no-repeat;
  background-size: 100% 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #FFF;
  text-transform: uppercase;
  margin: 0 auto;
  display: table;
  animation: img-phone 4s infinite;
}
.ico-button-4:hover{
  color: #FFF;
}
.banner .ico-button-4 img{
  width: 100%;
}
.banner .owl-carousel .owl-stage-outer{
  width: 100%;
}
.banner .owl-dots{
  position: absolute;
  right: 3%;
  bottom: 1%;
}
.owl-dots .owl-dot:focus{
  outline: none !important;
}
.owl-dots .owl-dot.active span{
  background: #ec7135 !important;
}
.owl-dots .owl-dot:hover span{
  background: #ec7135 !important;
}
.owl-dots .owl-dot span{
  margin: 0px 3px !important;
}

.page-main h6{
  text-align: center;
  color: #FD6718;
  font-size: calc(10px + 2vw);
  text-transform: uppercase;
  margin-bottom: 30px;
  padding-top: 30px;
}
.page-main .section-3{
  background: #FD6718;
}
.page-main .section-3 h6{
  color: #FFF;
}
.page-main .section-3 img{
  width: 100%;
  border-bottom: 2px solid #6FB71D;
}
.page-main .section-3 .col-md-3{
  text-align: center;
  padding-bottom: 30px;
}
.page-main .section-3 .md-content{
  background: #FFF;
  border-radius: 20px;
  box-shadow: 10px 10px 27px -8px rgba(0,0,0,0.75);
}
.page-main .section-3 .col-md-3 p{
  font-size: calc(20px + 2vw);
  color: #6FB71D;
  line-height: 1;
  font-weight: 700;
  padding: 20px 20px 0px 20px;
}
.page-main .section-3 .col-md-3 span{
  font-size: calc(4px + 1vw);
  text-transform: uppercase;
  line-height: 1.2;
  display: block;
  padding: 0px 15px 20px 15px;
  color: #404041;
  font-weight: 700;
}
.page-main .section-3 .main-content{
  padding: 30px;
  border-radius: 20px;
  background: #FD6718;
}
.page-main .section-3 .main-content .md-row{
  margin-bottom: 2%;
}
.page-main .section-3 .main-content .md-col{
  width: 49%;
  float: left;
  background: #FFF;
  border-radius: 10px;
  position: relative;
  padding: 30px;
}
.page-main .section-3 .main-content .md-col p{
  font-size: calc(100px + 4vw);
  color: #6FB71D;
  line-height: 1;
  font-weight: 700;
}
.page-main .section-3 .main-content .md-col span{
  font-size: calc(20px + 2vw);
  text-transform: uppercase;
  line-height: 1.2;
  display: block;
  color: #6FB71D;
  font-weight: 700;
}
.page-main .section-3 .main-content .md-col:first-child{
  margin-right: 2%;
}
.page-main .section-3 .main-content .md-col img{
  width: 25%;
  position: absolute;
  right: 10%;
  top: 30px;
  border: none;
}
.page-main .section-4 .md-content img{
  width: 19%;
  margin-right: 0.5%;
}
.page-main .section-4 .ico-button-5{
  width: 50%;
  margin: 0 auto;
  display: block;
}
.page-main .section-4 .ico-button-5 img{
  width: 100%;
}
.page-main .section-4 p{
  text-align: center;
  margin-top: 20px;
  font-size: calc(20px + 2vw);
  color: #FD6718;
  font-weight: 700;
}
.page-main .section-5 .ico-button-4{
  margin-top: 20px;
}
.page-main .section-5 .ico-button-6 img{
  width: 100%;
}
.page-main .section-6{
  background: #FD6718;
  padding-bottom: 20px;
  margin-top: 30px;
}
.page-main .section-6 h6{
  color: #FFF;
}
.page-main .section-6 img{
  width: 100%;
  margin-bottom: 20px;
  border-radius: 50px;
}
.page-main .section-6 .md-text{
  float: left;
  width: 33%;
  color: #FFF;
  padding: 20px 20px;
  border-right: 2px solid #FFF;
  text-align: center;
  font-size: calc(10px + 1vw);
  text-transform: uppercase;
  font-family: 'UTMAvoBold';
  font-weight: 700;
}
.page-main .section-6 .md-text:last-child{
  border-right: 0px;
}
.page-main .section-6 .md-span{
  font-size: calc(20px + 2vw);
  animation: text-6 infinite 4s;
  display: inline-block;
  margin-bottom: 0px;
  line-height: 1;
}
.page-main .section-8{
  margin-bottom: 30px;
}
@keyframes text-6{
  0%{
    transform: scale(1.1);
  }
  10%{
    transform: scale(1.3);
  }
  20%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1.1);
  }
}
/*.page-main .section-6 p:last-child{
  border: none;
}*/
.md-tkb{
  display: none;
  padding: 0px;
  width: 60%;
}
.md-tkb img{
  width: 100%;
}

.footer .logo{
  width: 50%;
  display: table;
  margin: 30px auto;
}
.footer .logo img{
  width: 100%;
}
.footer .content-footer .md-left{
  float: left;
  width: 45%;
}
.footer .content-footer .md-left h6{
  color: #404041;
   font-family: "Montserrat", sans-serif;
   font-weight: 600;
}
.footer .content-footer .md-left .md-col{
  margin-bottom: 5px;
}
.footer .content-footer .md-left .md-top{
  margin-bottom: 5px;
}
.footer .content-footer .md-left .md-top img{
  width: 5%;
  margin-right: 10px;
  min-width: 30px;
}
.footer .content-footer .md-left .md-top p{
  display: inline-block;
  color: #FD6718;
   font-family: "Montserrat", sans-serif;
   font-weight: 600;
}
.footer .content-footer .md-right{
  float: right;
  width: 50%;
}
.footer .content-footer .md-right h6{
  color: #FD6718;
  text-align: center;
  margin-bottom: 20px;
  font-size: calc(4px + 1vw);
}
.footer .content-footer .md-right h6 span{
  display: block;
  font-family: 'UTMAvoBold';
  font-size: calc(2px + 1vw);
}
.footer .content-footer .md-right input{
  width: 100%;
  border: none;
  background: #ffd4be;
  padding: 15px 20px;
  border-radius: 40px;
  font-family: 'SVN-Avo';
}
.footer .content-footer .md-right input::placeholder{
  color: #FD6718;
}
.footer .content-footer .md-right input[type='button']{
  color: #FFF;
  background: #6FB71D;
  padding: 10px 0px;
  text-transform: uppercase;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.footer .content-footer .md-right .md-col{
  margin-bottom: 10px;
}
.footer .content-footer .md-right form{
  background: #FD6718;
  padding: 40px 30px 20px 30px;
  border-radius: 20px;
}
.footer .content-footer .md-right .ui.dropdown{
  width: 100%;
  border: none;
  background: #ffd4be;
  padding: 15px 20px;
  border-radius: 40px;
}
.footer .content-footer .md-right .ui.dropdown>.dropdown.icon{
  position: absolute;
  left: auto;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.footer .content-footer .md-right .ui.dropdown .menu{
  width: 100%;
}
.footer .content-footer .md-right .ui.dropdown .text{
  color: #FD6718;
}
.footer .content-footer{
  margin-bottom: 30px;
}
p.error{
  color: #fe6718;
  font-style: italic;
  margin-top: 3px;
  font-size: calc(2px + 1vw);
}
.footer .bot-footer .img-phone{
  width: 30%;
  display: table;
  margin: 0 auto 30px auto;
  animation: img-phone 4s infinite;
}
@keyframes img-phone{
  0%{
    opacity: 1;
  }
  5%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  15%{
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
  25%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  35%{
    opacity: 0;
  }
  40%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}
.footer .bot-footer ul li img{
  width: 60%;
}
.footer .bot-footer ul {
  width: 50%;
  display: table;
  margin: 0 auto;
}
.footer .bot-footer ul li{
  display: table-cell;
}

.footer{
  padding-bottom: 10%;
}
.md-fixed{
  position: fixed;
  right: 1%;
  bottom: 1%;
  width: 3%;
  z-index: 999;
}
.md-fixed a:first-child{
  margin-bottom: 10px;
}
.md-fixed a{
  animation: md-fixeda infinite 4s;
  display: block;
}
@keyframes md-fixeda{
  0%{
    transform: scale(1.1);
  }
  5%{
    transform: scale(1.2);
  }
  10%{
    transform: scale(1.1);
  }
  15%{
    transform: scale(1.2);
  }
  20%{
    transform: scale(1.1);
  }
  25%{
    transform: scale(1.2);
  }
  30%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1.1);
  }
}
.md-fixed img{
  width: 100%;
}
.footer .content-footer .logo{
    display: none;
  }
.md-desktop{
    display: block;
}
.md-mobile{
    display: none;
}

.md-popup-2{
  display: none;
  padding: 0px;
  width: 50%;
}
.md-popup-2 img{
  width: 100%;
}
.md-popup-2 .ico-button-4{
  margin-bottom: 20px;
  padding: 7px 15px;
  font-size: calc(3px + 1vw);
  animation: none;
}
.md-uudai{
  display: none;
  padding: 0px;
  width: 50%;
}
.md-uudai img{
  width: 100%;
}
.md-uudai .ico-button-4{
  margin-bottom: 20px;
  padding: 7px 15px;
  font-size: calc(3px + 1vw);
  animation: none;
}
.md-uudai .btn-close{
  padding: 0px;
  position: relative;
  height: auto;
  width: auto;
  margin: 0 auto;
  display: table;
  opacity: 1;
  outline: none;
}
@media screen and (max-width: 767px){
  .md-desktop{
      display: none !important;
  }
  .md-mobile{
      display: block;
  }
  p.error{
    font-size: calc(8px + 1vw);
  }
  .md-popup-2{
    width: 100%;
  }
  .md-popup-2 .ico-button-4{
    font-size: calc(8px + 1vw);
  }
  .md-uudai{
    width: 100%;
  }
  .md-uudai .ico-button-4{
    font-size: calc(8px + 1vw);
  }
  .main-popup{
    width: 100%;
    height: auto;
  }
  .page-header .main-menu{
    display: block;
    width: 100% !important;
    padding: 0px 10%;
    top: 10px;
  }
  .page-header .main-menu li.md-popup{
    display: inline-block;
    padding-top: 0px;
    float: left;
    width: 35%;
  }
  .page-header .main-menu li.logo{
    width: 35%;
    margin-right: 20px;
  }
  .page-header .main-menu .toggle-menu{
    float: right;
    cursor: pointer;
  }
  .page-header .main-menu .toggle-menu img{
    width: 60%;
    float: right;
  }
  .page-header .main-menu .toggle-menu .menu-mb{
    position: fixed;
    left: -100%;
    top: 7%;
    background-color:rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100vh;
    padding-top: 10%;
    z-index: 99;
  }
  .active{
      left: 0% !important;
    transition-duration: 0.5s;
/*    top: 100% !important;*/

  }
  .scroll-top .active{
        top: 100% !important;
  }
  .page-header .main-menu .toggle-menu .menu-mb li{
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    padding-right: 10%;
    margin-bottom: 20px;
  }
  .page-header .main-menu .toggle-menu .menu-mb li a{
    font-size: calc(8px + 2vw);
  }
  .page-main .section-3 .main-content{
    padding: 20px;
  }
  .page-main .section-3 .main-content .md-col{
    padding: 20px;
  }
  .page-main .section-3 .main-content .md-col{
    width: 48%;
  }
  .page-main .section-3 .main-content .md-col:first-child{
    margin-right: 4%;
  }
  .page-main .section-3 .main-content .md-row{
    margin-bottom: 4%;
  }
  .page-main .section-3 .main-content .md-col p{
    font-size: calc(60px + 4vw);
  }
  .page-main .section-3 .main-content .md-col img{
    width: 40%;
    top: 20px;
  }
  .page-main .section-3 .main-content .md-col span{
    font-size: calc(8px + 2vw);
  }
  .page-main .section-3{
    background: transparent;
  }
  .page-main .section-3 h6{
    color: #FD6718;
  }
  .page-main .section-4 p{
    font-size: calc(15px + 1vw);
  }
  .md-tkb{
    width: 100%;
  }
  .scroll-top{
    padding: 10px 10% !important;
  }
  /*.main-popup form input[type='button']{
    width: 50%;
  }*/
  .page-header .main-menu li .sub-menu{
    padding-right: 10%;
    background: none;
  }
  .page-header .main-menu .toggle-menu .menu-mb li .sub-menu li{
    padding-right: 0px;
  }
  .banner .ico-button-4{
    bottom: 5%;
  }
  .banner iframe{
    width: 90%;
  }
  .ico-button-4{
    padding: 5px 20px;
  }
  .page-main .section-6 .md-text{
    float: none;
    width: 90%;
    border-right: 0px;
    border-bottom: 2px solid #FFF;
    display: table;
    margin: 0 auto;
    font-size: calc(15px + 2vw);
  }
  .page-main .section-6 .md-span{
    font-size: calc(30px + 2vw);
  }
  .page-main .section-6 .md-text:last-child{
    border-bottom: 0px;
  }
  .scroll-top{
    margin: 0px !important;
    border-radius: 0px;
  }
  .md-fixed{
    width: 10%;
  }
  .footer .content-footer .md-left{
    float: none;
    width: 100%;
  }
  .footer .content-footer .md-right{
    float: none;
    width: 100%;
    margin-bottom: 40px;
  }
  .footer .logo{
    width: 60%;
  }
  .footer .bot-footer .img-phone{
    width: 50%;
  }
  .footer .bot-footer ul{
    width: 70%;
  }
  .footer .content-footer .logo{
    display: table;
  }
  .footer .content-footer .md-right h6{
    font-size: calc(15px + 1vw);
  }
  .footer .content-footer .md-right h6 span{
    font-size: calc(10px + 1vw);
  }
  .page-main h6{
    font-size: calc(20px + 1vw);
  }
  .banner .text-banner{
    width: 90%;
  }
}

@media screen and (min-width: 1599px){
  .page-header .main-menu li{
    margin-right: 70px;
  }
  .scroll-top{
    padding: 10px 7% !important;
  }
}
@media screen and (min-width: 1899px){
  .page-header .main-menu li{
    margin-right: 54px;
  }
  .scroll-top{
    padding: 10px 12.5% !important;
  }
}
/*font-family: "Paytone One", sans-serif;
font-family: "Alata", sans-serif;
 font-family: "Baloo 2", sans-serif;*/